<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% end %}</title>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}" type="text/css"/>
    <script type="text/javascript" src="{{ static_url('js/jquery-1.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/qform.js') }}"></script>
    {% block head %}{% end %}
</head>
<body>
{% block body %}{% end %}
</body>
</html>