{% extends "base.html" %}
{% block title %}后台登陆{% end %}

{% block head %}
<link href="{{ static_url('css/admin.css') }}" rel="stylesheet"/>
<script type="text/javascript">
    jQuery(function(){
        var form = new Qform( {  } ,{{ form.toJson() }} , [ {'label' : '登陆'} ] );
        form.dom().appendTo( jQuery('#form-wrap') );
    });
</script>
{% end %}
{% block body %}

<div  style="margin: 10% auto; width:420px;">
    <div class="login-form" id="form-wrap">

    </div>
    <div style="padding: 6px;">
        Powered by
        <a target="_blank" href="http://QcoreBlog.sinaapp.com/">QcoreBlog</a>
    </div>
</div>
{% end %}