{% extends "base.html" %}
{% block title %}访问控制{% end %}

{% block head-more %}

<script type="text/javascript">
jQuery(function(){
    // 添加
    var form = new Qform( { url : '' } ,{{ form.toJson() }} , [ {'label' : '添加'} ] );
    var modelDom = QformDialog( form );

    jQuery('#form-add').click(function(){
        modelDom.modal('show');
        return false;
    });
    // 编辑
    (function(){
        var data = {{ json_encode( list ) }};
        var form = new Qform( { url : '' } ,{{ form.toJson() }} , [ {'label' : '保存'} ] );
        //弹窗容器
        var modelDom = QformDialog( form );

        jQuery('#data-list').find('tbody span.notice').each(function( k ){
            var values = data[ k ];
            var self = jQuery(this);
            if( values )
            {
                values['allow'] = jQuery.parseJSON( values['allow'] );
                values['deny'] = jQuery.parseJSON( values['deny'] );
                //编辑
                self.click(function(){
                    form.setValues( values );
                    modelDom.modal('show');
                    return false;
                }).next().click(function(){ //删除
                            Qconfirm('确认删除?' , function(ret){
                                if(ret)
                                {
                                    jQuery.post('/admin/acl' , { deleteId : values.id } , function( json ){
                                        if( json.success )
                                        {
                                            window.location.href = '/admin/acl'
                                        }
                                    } , 'json')
                                }
                            })
                        })
            }

        });
    })();
});
</script>
{% end %}

{% block wrap %}
<div style="margin: 6px;text-align: right;">
    <a href="#add" class="btn primary" id="form-add" >添加</a>
</div>
<table class="bordered-table zebra-striped" id="data-list">
    <thead>
    <tr>
        <th>#</th>
        <th>uri</th>
        <th>描述</th>
        <th>禁止访问</th>
        <th>允许访问</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for v in list %}
    <tr>
        <td>{{v.id}}</td>
        <td>{{v.uri}}</td>
        <td>{{v.desc}}</td>
        <td>{{v.denyStr}}</td>
        <td>{{v.allowStr}}</td>
        <td>
            <span class="label notice" style="cursor: pointer" title="编辑">Edit</span>
            <span class="label important" style="cursor: pointer" title="删除">Delete</span>
        </td>
    </tr>
    {% end %}
    </tbody>
</table>
{% end %}