{% extends "base.html" %}
{% block title %}文章列表{% end %}

{% block head-more %}

<script type="text/javascript">
    jQuery(function(){
        var list = {{ json_encode( list ) }};
        jQuery('#data-list').find('span.notice').each(function( k ){
            var self = jQuery(this);
            var v = list[k];
            if( v )
            {
                self.click(function(){
                    window.location = '/admin/fatArticle?id=' + v['id'];
                    return false;
                }).next().click(function(){
                            Qconfirm('确认删除?' , function(ret){
                                if(ret)
                                {
                                    jQuery.post('/admin/delArticle' , { id : v.id } , function( json ){
                                        if( json.success )
                                        {
                                            window.location.href = window.location.href
                                        }
                                    } , 'json')
                                }
                            })
                          })
            }

        })
    });
</script>
{% end %}

{% block wrap %}
<div style="margin: 6px;text-align: right;">
    <a href="/admin/fatArticle" class="btn primary" id="form-add" >添加</a>
</div>
<table class="bordered-table zebra-striped" id="data-list">
    <thead>
    <tr>
        <th>#</th>

        <th>标题</th>
        <th>分类</th>
        <th>时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        {% for v in list %}
        <tr>
            <td>{{v.id}}</td>
            <td>{{v.title}}</td>
            <td>{{v.categoryStr}}</td>
            <td>{{v.createdStr}}</td>
            <td>
                <span class="label notice" style="cursor: pointer" title="编辑">Edit</span>
                <span class="label important" style="cursor: pointer" title="删除">delete</span>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>

{% module Pagination(pagination) %}
{% end %}}