{% extends "base.html" %}
{% block title %}
  {% if data.has_key('id') %}
  编辑 {{ data.title }}
  {% else %}
  添加
  {% end %}
{% end %}

{% block head-more %}
<link rel="stylesheet" type="text/css" href="{{ static_url('js/tokeninput/token-input-mac.css') }}" />
<script type="text/javascript" src="{{ static_url('js/bootstrap-tabs.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.tokeninput.js') }}"></script>
<script type="text/javascript">
    window.articleForm = {}
    jQuery(function(){
        // 表单
        form = new Qform( { url : '' } ,{{ form.toJson() }} , [ {'label' : '发表'} ] );
        form.setValues( {{ json_encode(data) }} )
        window.articleForm = form
        //分配侧栏
        form.dom().wrapInner('<div class="span11"></div>');
        var sidebar = jQuery('<div class="span5" id="article-sidebar"></div>');
        form.dom().find('[name=category_id] , [name=slug] , [name=tags]').parent().parent().appendTo( sidebar );
        form.dom().find('[name=title]').blur(function(){
            if('' == form.dom().find('[name=slug]').val())
            {
                form.dom().find('[name=slug]').val( jQuery(this).val() + '.html' )
            }
        });
        sidebar.appendTo( form.dom() );

        //加入dom树
        form.dom().appendTo('#article-wrap');

        // tag
        var tagsInput = form.dom().find('input[name=tags]')
        var tags = {{ json_encode(tags) }};
        var tagsItem = tagsInput.tokenInput( tags , {
            theme : 'mac' ,
            searchDelay : 100 ,
            preventDuplicates : true ,
            tokenValue : 'name' ,
            onAdd : function(){
                var data = tagsItem.tokenInput('get');
                var json = [];
                jQuery.each(data , function(k , v){
                    json[ json.length ] = '"' + v['name'] + '"'
                });
                tagsItem.val( '[' + json.join(',') + ']' )


            },
            onDelete : function(){
                var data = tagsItem.tokenInput('get');
                var json = [];
                jQuery.each(data , function(k , v){
                    json[ json.length ] = '"' + v['name'] + '"'
                });
                tagsItem.val( '[' + json.join(',') + ']' )
            }
        });
        var thisTags = {{ json_encode(thisTags) }};
        jQuery.each( thisTags , function(k,v){
            tagsItem.tokenInput('add' , { name : v.name })
        } );
        tagsItem.parent().append('<span class="help-block">请以半角空格隔开</span>');



    });
</script>
{% end %}

{% block wrap %}
<div id="article-wrap"></div>


{% end %}