{% extends "../base.html" %}

{% block title %}安装 Qcore Blog{% end %}

{% block body %}

<div style="margin: 10% auto; width:600px;">
    <div class="well">
        <div class="page-header">
            <h1>安装 Qcore Blog <small> 只需 2 步</small></h1>
        </div>
        <ul class="breadcrumb">

            <li>检查环境 <span class="divider">/</span> </li>
            <li>设置管理员 <span class="divider">/</span> </li>
            <li class="active">完成安装 <span class="divider">/</span> </li>
        </ul>

        <div class="alert-message block-message info">

            <p><strong>恭喜你!</strong> Qcore Blog 已经成功安装! 现在你可以:</p>
            <div class="alert-actions">
                <a href="/login" class="btn small">登陆后台</a>
            </div>
        </div>


    </div>
</div>
{% end %}