{% extends "../base.html" %}

{% block title %}安装 Qcore Blog{% end %}

{% block body %}
<div style="margin: 10% auto; width:600px;">
    <div class="well">
        <div class="page-header">
            <h1>安装 Qcore Blog <small> 只需 2 步</small></h1>
        </div>
        <ul class="breadcrumb">

            <li class="active">检查环境 <span class="divider">/</span> </li>
        </ul>

        <ul>
            <li>
                MySQL是否已经开启 :
                {% if mysqlIsConnection %}
                <span class="label success">Yes</span>
                {% else %}
                <span class="label important">No</span>
                {% end %}
                <p>关于 <a href="http://sae.sina.com.cn/?m=devcenter&content_id=13" target="_blank">sae MySQL</a></p>
            </li>
            <li>
                Memcache是否已经开启 :
                {% if memcacheIsConnection %}
                <span class="label success">Yes</span>
                {% else %}
                <span class="label important">No</span>
                {% end %}
                <p>关于 <a href="http://sae.sina.com.cn/?m=devcenter&catId=201" target="_blank">sae Memcache</a></p>
            </li>
            <li>
                是否已经建立名为 "storage" 的 Storage:
                {% if storageIsConnection %}
                <span class="label success">Yes</span>
                {% else %}
                <span class="label important">No</span>
                {% end %}
                <p>关于 <a href="http://sae.sina.com.cn/?m=devcenter&catId=204" target="_blank">Storage</a></p>
            </li>
        </ul>
        {% if storageIsConnection and memcacheIsConnection and mysqlIsConnection %}
        <form action="?step=1" method="post" style="text-align: center;">
            <button class="btn success" type="submit">下一步</button>
        </form>
        {% end %}

    </div>
</div>
{% end %}