{% extends "base.html" %}

{% block title %}{{info['name']}} 插件设置{% end %}

{% block head-more %}
<script type="text/javascript">
    jQuery(function(){
        // 基本资料
        var form = new Qform( { url : '?type=config&name={{info['name']}}' } ,{{ form.toJson() }} , [ {'label' : '保存'} ] );
        form.setValues( {{ json_encode(data) }} );

        form.dom().find('fieldset').prepend('<legend>{{info['name']}} 插件设置</legend>');
        form.dom().appendTo( '#form-wrap' );

    })
</script>
{% end %}
{% block wrap %}
<div class="config-forms">
    <div id="form-wrap" class="item-form" ></div>

</div>
{% end %}