{% extends "base.html" %}
{% block title %}插件管理{% end %}

{% block head-more %}

<script type="text/javascript">
    jQuery(function(){
        var data = {{ json_encode( list ) }};
        jQuery('#data-list').find('tbody span.notice').each(function( k ){
            var values = data[ k ];
            var self = jQuery(this);
            if( values )
            {
                //启用
                self.click(function(){
                    jQuery.post('?type=enable' , values , function(json){
                        if(json.success)
                        {
                            window.location.href = window.location.href
                        }
                    } , 'json')
                    return false;
                })
            }

        });
        {% if len(enableList) > 0 %}
        //已启用插件管理
        (function(){
            var data = {{ json_encode( enableList ) }};
            jQuery('#enable-data-list').find('tbody span.important').each(function( k ){
                var values = data[ k ];
                var self = jQuery(this);
                if( values )
                {
                    //禁用
                    self.click(function(){
                        jQuery.post('?type=disable' , values , function(json){
                            if(json.success)
                            {
                                window.location.href = window.location.href
                            }
                        } , 'json')
                        return false;
                    })
                }

            });
        })();
        {% end %}
    });
</script>
{% end %}

{% block wrap %}

{% if len(enableList) > 0 %}
<h3 style="margin-top: 20px;">已激活插件 </h3>
<table class="bordered-table zebra-striped" id="enable-data-list">
    <thead>
    <tr>
        <th>名称</th>
        <th>描述</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        {% for v in enableList %}
        <tr>
            <td>{{v['name']}}</td>
            <td>{{v['desc']}}</td>
            <td>
                {% if v['isConfig'] %}
                <a href="?type=config&name={{v['name']}}" class="label warning" title="设置">Config</a>
                {% end %}
                <span class="label important" style="cursor: pointer" title="禁用">Disable</span>

            </td>
        </tr>
        {% end %}
    </tbody>
</table>
{% end %}

{% if len(list) > 0 %}
<h3 style="margin-top: 20px;">可用插件 </h3>
<table class="bordered-table zebra-striped" id="data-list">
    <thead>
    <tr>
        <th>名称</th>
        <th>描述</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        {% for v in list %}
        <tr>
            <td>{{v['name']}}</td>
            <td>{{v['desc']}}</td>
            <td>
                <span class="label notice" style="cursor: pointer" title="启用">Enable</span>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>
{% end %}
{% end %}}