{% extends "base.html" %}
{% block title %}风格列表{% end %}

{% block head-more %}

<script type="text/javascript">
    jQuery(function(){

        // 设置风格
        (function(){
            var data = {{ json_encode( templates ) }};

            jQuery('#data-list').find('tbody span').each(function( k ){
                var value = data[ k ];
                var self = jQuery(this);

                if( self.is('.notice') && value )
                {
                    self.click(function(){
                        jQuery.post('',{ name : value } , function(json){
                            if( json.success )
                            {
                                return window.location.href = window.location.href;
                            }
                            alert( json.msg )
                        } , 'json')
                        return false;
                    })
                }

            });
        })();
    });
</script>
{% end %}

{% block wrap %}
<table class="bordered-table zebra-striped" id="data-list" style="margin-top: 20px;">
    <thead>
    <tr>
        <th>名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        {% for name in templates %}
        <tr>
            <td>{{name}}</td>
            <td>
                {% if name != siteTemplate %}
                <span class="label notice" style="cursor: pointer" title="启用">Enable</span>
                {% else %}
                <span class="label" >Current</span>
                {% end %}
            </td>
        </tr>
        {% end %}
    </tbody>
</table>
{% end %}}