{% extends "base.html" %}

{% block title %}个人资料{% end %}

{% block head-more %}
<script type="text/javascript">
    jQuery(function(){
        // 基本资料
        var form = new Qform( { url : '' } ,{{ form.toJson() }} , [ {'label' : '保存'} ] );
        form.setValues( {{ json_encode(data) }} );

        // 加入头像
        var avatar = jQuery('<img src="{{gravatarUrl}}" alt="" class="avatar" /> ');
        avatar.prependTo( form.dom() );

        form.dom().find('fieldset').prepend('<legend>个人资料</legend>');
        form.dom().appendTo( '#form-wrap' );

        var passwordForm = new Qform(  {} , {{ passwordForm.toJson() }} , [ {'label' : '修改'} ] );
        passwordForm.dom().find('fieldset').prepend('<legend>密码修改</legend>');
        passwordForm.dom().appendTo( '#passwordForm-wrap' );
    })
</script>
{% end %}
{% block wrap %}
<div class="config-forms">
    <div id="form-wrap" class="item-form" ></div>
    <div id="passwordForm-wrap" class="item-form" ></div>
</div>
{% end %}