{% extends "base.html" %}
{% block title %}文章分类{% end %}

{% block head-more %}

<script type="text/javascript">
    jQuery(function(){
        // 添加
        var form = new Qform( { url : '' } ,{{ form.toJson() }} , [ {'label' : '添加'} ] );
        var modelDom = QformDialog( form );

        jQuery('#form-add').click(function(){
            modelDom.modal('show');
            return false;
        });

        // 编辑
        (function(){
            //直接取得数据
            var data = {{ json_encode( tags ) }};

            jQuery('#data-list').find('.edit-box').each(function( k ){
                var values = data[ k ];
                var self = jQuery(this);
                if( values )
                {
                    //编辑
                    self.click(function(){
                        self.attr('contentEditable' , true).addClass('edit');
                        self[0].focus();
                        return false;
                    }).blur(function(){
                        self.attr('contentEditable' , false).removeClass('edit');
                        name = jQuery.trim( self.html() )
                        if( name == values['name']  )
                        {
                            return false;
                        }
                        values['name'] = name
                        jQuery.post('' , values , function(json){
                            if( false == json.success )
                            {
                                alert( json.msg )
                            }
                        } , 'json')
                    })
                }

            });

            jQuery('#data-list').find('tbody span.notice').each(function( k ){
                var values = data[ k ];
                var self = jQuery(this);
                if( values )
                {
                    //编辑
                    self.click(function(){
                        self.parent().prev().find('.edit-box').click();
                        return false;
                    }).next().click(function(){ //删除
                                Qconfirm('确认删除?' , function(ret){
                                    if(ret)
                                    {
                                        jQuery.post('' , { deleteId : values.id } , function( json ){
                                            if( json.success )
                                            {
                                                window.location.href = window.location.href
                                            }
                                        } , 'json')
                                    }
                                })
                            })
                }

            });


        })();
    });
</script>
{% end %}

{% block wrap %}
<div style="margin: 6px;text-align: right;">
    <a href="#add" class="btn primary" id="form-add" >添加</a>
</div>
<table class="bordered-table zebra-striped" id="data-list">
    <thead>
    <tr>
        <th width="20">#</th>
        <th>名称</th>
        <th width="100">操作</th>
    </tr>
    </thead>
    <tbody>
        {% for v in tags %}
        <tr>
            <td>{{v.id}}</td>
            <td>
                <div class="edit-box" title="点击编辑">{{v.name}}</div>
            </td>
            <td>
                <span class="label notice" style="cursor: pointer" title="编辑">Edit</span>
                <span class="label important" style="cursor: pointer" title="删除">Delete</span>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>

{% end %}}