{% extends "base.html" %}
{% block title %}会员管理{% end %}

{% block head-more %}

<script type="text/javascript">
    jQuery(function(){
        // 添加
        var form = new Qform( { url : '' } ,{{ form.toJson() }} , [ {'label' : '添加'} ] );
        var modelDom = QformDialog( form );

        jQuery('#form-add').click(function(){
            modelDom.modal('show');
            return false;
        });

        // 编辑
        (function(){
            //直接取得数据
            var data = {{ json_encode( list ) }};
            var form = new Qform( { url : '' } ,{{ form.toJson() }} , [ {'label' : '保存'} ] );
            //加入密码修改提示
            form.dom().find('input[name=password]').parent().append('<span class="help-block">不修改请留空</span>');
            //弹窗容器
            var modelDom = QformDialog( form );


            var roleForm = new Qform( { url : '' } ,{{ roleForm.toJson() }} , [ {'label' : '保存'} ] );
            //弹窗容器
            var roleModelDom = QformDialog( roleForm );


            jQuery('#data-list').find('tbody span.notice').each(function( k ){
                var values = data[ k ];
                var self = jQuery(this);
                if( values )
                {
                    values['password'] = ''
                    //编辑
                    self.click(function(){
                        form.setValues( values );
                        modelDom.modal('show');
                        return false;
                    }).next().click( function(){ //角色管理
                                roleForm.setValues( values );
                                roleModelDom.modal('show');
                            } )
                }

            });
        })();
    });
</script>
{% end %}

{% block wrap %}
<div style="margin: 6px;text-align: right;">
    <a href="#add" class="btn primary" id="form-add" >添加</a>
</div>
<table class="bordered-table zebra-striped" id="data-list">
    <thead>
    <tr>
        <th>#</th>
        <th>昵称</th>
        <th>邮箱</th>
        <th>角色</th>

        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        {% for v in list %}
        <tr>
            <td>{{v.id}}</td>
            <td>{{v.nickname}}</td>
            <td>{{v.email}}</td>
            <td>{{v.roleNames}}</td>

            <td>
                <span class="label notice" style="cursor: pointer" title="编辑">Edit</span>
                <span class="label warning" style="cursor: pointer" title="角色绑定">Role</span>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>

{% module Pagination(pagination) %}
{% end %}}