body{
    background: url(admin/bg.png) repeat scroll 0 0 #DCDDDF;
}
.bordered-table , .bordered-table th , .bordered-table td , .bordered-table td + td, .bordered-table th + td{

    border-color: #ACADB0;
}
.header{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAADCAYAAABI4YUMAAAAJUlEQVQI12OYO3/hYVz4////DNgww8tXr87hwjg1AQk9PBirJgB7IXclBAHY5wAAAABJRU5ErkJggg==") repeat-x scroll center bottom transparent;
}
.header .container{
    position: relative;
}
#top-menu{
    position: absolute;
    top: 16px;
    left: 170px;
    border-bottom: none;

}
#top-menu .active a{
    background: none;
    border: none;
}
.footer {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #A2A3AB;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAMAAADKFy/CAAAABlBMVEX///////9VfPVsAAAAAnRSTlP/AOW3MEoAAAANSURBVAjXY2BgYAQCAAARAAVwgCxyAAAAAElFTkSuQmCC"),  -moz-linear-gradient(#A7AAB0, #9B9CA4);
    background-origin: padding-box;
    background-position: center top, 0 0;
    background-repeat: repeat-x, repeat;
    background-size: auto auto;

    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.6) inset;
    font-size: 13px;

    min-height: 20px;
    padding: 20px 0;

    right: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

}
#article-wrap {
    position: relative;
}
#article-wrap .actions{
    background: none;
    border: none;
}
#article-wrap #article-sidebar{
    position: absolute;
    top:12px;
    right: 0;
}
#article-wrap fieldset input , #article-wrap fieldset textarea{
    width: 600px;
}
#article-wrap #article-sidebar input{
    width: 200px;
}
#article-wrap .markItUp{
    width: 600px;
}
#article-wrap .article-preview{
    border: 2px dashed #AAACAE;
    padding: 12px;
    margin: 5px 0 0 0;
}

.config-forms{
    padding-top: 20px;
}

.config-forms fieldset{
    padding-left: 40px;

}
.config-forms fieldset legend{
    margin-left: -40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #606060;
    display: block;
    width: 100%;
    padding-bottom: 4px;
}
.config-forms .actions {
    background: none;
    border: none;
    padding-left: 60px;
}
.avatar{
    background-repeat: no-repeat;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset, 0 2px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(0, 0, 0, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.4);
}
.config-forms .avatar{
    float: right;
}
.edit-box{
    cursor: pointer;
}
td .edit{
    background: #FEFBF3;
}
#article-sidebar .token-input-list-mac{
    background: #fff;
    width: 200px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px 3px 3px 3px;
}
#article-sidebar .token-input-input-token-mac input{
    border: none;
    box-shadow:none;
}
body div.token-input-dropdown-mac{
    width: 195px;
}
.drop_zone {
    border: 2px dashed #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    color: #BBBBBB;
    padding: 60px 45px;
    text-align: center;
}
.drop_zone li{
    list-style: none;

}
.login-form{
    border-radius: 4px 4px 4px 4px !important;
    border-style: solid !important;
    border-width: 2px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33) !important;
    padding-top: 22px
}
.login-form .actions{
    background: none;
}