{% extends "base.html" %}



{% block content %}
<div class="blog-index">
{% for post in list %}
<article>
    <header>
        <h1 class="entry-title"><a href="/{{ post.type }}/{{ url_escape( post.slug ) }}">{{ post.title }}</a></h1>
        <p class="meta">
      	<time datetime="{{ Q.date('%Y-%m-%d %H:%M' , post.created ) }}" pubdate>{{ Q.date('%Y-%m-%d %H:%M' , post.created ) }}</time>
        </p>
        <p class="comment-count"><a href="http://{{ handler.request.host }}/{{ post.type }}/{{ url_escape( post.slug ) }}#disqus_thread" rel="full-article"></a></p>
    </header>
    <div class="entry-content">{{ post.text }}</div>
    <footer>
      <a rel="full-article" href="/{{ post.type }}/{{ url_escape( post.slug ) }}" >Read On</a>
    </footer>
</article>
{% end %}

    <nav role="pagination">
        <div>
            {% if pagination['current'] != pagination['next'] and pagination['count'] > 1 %}
            <a class="prev" href="?page={{pagination['next']}}{{urlargs}}">&larr; Older</a>
            {% end %}

            &nbsp;

            {% if pagination['current'] != pagination['prev'] and pagination['count'] > 1 %}
            <a class="next" href="?page={{pagination['prev']}}{{urlargs}}">Newer &rarr;</a>
            {% end %}

        </div>
    </nav>
</div>

    {% if options['site_comment'] %}
    <script>
        var disqus_shortname = '{{options['site_comment']['disqus_shortname']}}';
        (function () {

            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    {% end %}
{% end %}

