{% extends "base.html" %}

{% block title %} {{ options['site']['title'] }}{% end %}

{% block content %}
<div>
    <article class="hentry" role="article">
        <header>
            <h1 class="entry-title">{{ post.title }}</h1>
            <p class="meta">
                <time datetime="{{ Q.date('%Y-%m-%d %H:%M' , post.created ) }}" pubdate>{{ Q.date('%Y-%m-%d %H:%M' , post.created ) }}</time>
            </p>

        </header>
        <div class="entry-content">{{ post.text }}</div>
        <footer>
            <p class="meta">
                <span class="byline author vcard">Posted by <span class="fn">{{ Q.getNicknameById( post.user_id ) }}</span></span>

                <span class="categories">
                    category
                    <a href="/category/{{ url_escape( Q.getPostCategoryById( post.id )['name'] ) }}/">{{ Q.getPostCategoryById( post.id )['name'] }}</a>
                </span>
                <span class="categories">
                    tags
                    {% for v in Q.getContentTagsById( post.id ) %}
                    <a href="/tag/{{ url_escape(v.name) }}/" class="category">{{ v.name }}</a>
                    {% end %}
                </span>

            </p>
            <p>
<!-- JiaThis Button BEGIN -->
<div id="jiathis_style_32x32"><span class="jiathis_txt">分享到：</span>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_ishare"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_baidu"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
	summary:"",
	hideMore:false
};
jQuery(window).bind('load.jiathis' , function(){
    jQuery.getScript('http://v2.jiathis.com/code_mini/jia.js');
})
</script>
<!-- JiaThis Button END -->
            </p>
        </footer>
    </article>
    {% if siteComment.has_key('disqus_shortname')%}
    <section>
        <h1>Comments</h1>

        <div id="disqus_thread">

            <script type="text/javascript">
                var disqus_shortname = '{{siteComment['disqus_shortname']}}';
                (function() {

                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div>
    </section>
    {% end %}
</div>
{% end %}
