<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>{% block title %}{{ options['site']['title'] }}{% end %}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 所有文章" href="/feed/"/>
    <link href="/favicon.ico" rel="shortcut icon" />

    <!-- style START -->
    <!-- default style -->
    <style type="text/css" media="screen">@import url({{static_url('template/inove/style.css')}});</style>
    <!-- for translations -->
    <link rel="stylesheet" href="{{static_url('template/inove/chinese.css')}}" type="text/css" media="screen"/>
    <!--[if IE]>
    <link rel="stylesheet" href="{{static_url('template/inove/ie.css')}}" type="text/css" media="screen"/>
    <![endif]-->
    <!-- style END -->

    <!-- script START -->
    <script type="text/javascript" src="{{static_url('template/inove/js/base.js')}}"></script>
    <script type="text/javascript" src="{{static_url('template/inove/js/menu.js')}}"></script>
    <!-- script END -->

    <link rel='index' title='Rainbo' href='http://rainbo.me'/>
    <style type="text/css">.recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
    }</style>
    {% for header in plugin_header %}
        {{header}}
    {% end %}
</head>
<body>
<!-- wrap START -->
<div id="wrap">
<!-- container START -->
<div id="container">
<!-- header START -->
<div id="header">
    <!-- banner START -->
    <!-- banner END -->
    <div id="caption">
        <h1 id="title"><a href="/">{{ options['site']['title'] }}</a></h1>
        <div id="tagline">{{ options['site']['subtitle'] }}</div>
    </div>
    <div class="fixed"></div>
</div>
<!-- header END -->
<!-- navigation START -->
<div id="navigation">
    <!-- menus START -->
    <ul id="menus">
        <li class="current_page_item"><a class="home" title="首页" href="http://rainbo.me/">首页</a></li>
        {% for v in Q.pageList() %}
        <li class="page_item page-item-{{v['id']}}"><a href="{{v['url']}}" title="{{v['title']}}">{{v['title']}}</a></li>
        {% end %}
        <li><a class="lastmenu" href="javascript:void(0);"></a></li>
    </ul>
    <!-- menus END -->
    <!-- searchbox START -->
    <div id="searchbox">
        <form action="/" method="get">
            <div class="content">
                <input type="text" class="textfield" name="q" size="24" value=""/>
                <input type="submit" class="button" value=""/>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var searchbox = MGJS.$("searchbox");
        var searchtxt = MGJS.getElementsByClassName("textfield", "input", searchbox)[0];
        var searchbtn = MGJS.getElementsByClassName("button", "input", searchbox)[0];
        var tiptext = "请输入关键字...";
        if (searchtxt.value == "" || searchtxt.value == tiptext) {
            searchtxt.className += " searchtip";
            searchtxt.value = tiptext;
        }
        searchtxt.onfocus = function (e) {
            if (searchtxt.value == tiptext) {
                searchtxt.value = "";
                searchtxt.className = searchtxt.className.replace(" searchtip", "");
            }
        }
        searchtxt.onblur = function (e) {
            if (searchtxt.value == "") {
                searchtxt.className += " searchtip";
                searchtxt.value = tiptext;
            }
        }
        searchbtn.onclick = function (e) {
            if (searchtxt.value == "" || searchtxt.value == tiptext) {
                return false;
            }
        }
        //]]>
    </script>
    <!-- searchbox END -->
    <div class="fixed"></div>
</div>
<!-- navigation END -->
<!-- content START -->
<div id="content">
    <!-- main START -->
    {% block content %}{% end %}

    <!-- main END -->

    <!-- sidebar START -->
    <div id="sidebar">

        <!-- sidebar north START -->
        <div id="northsidebar" class="sidebar">

            <!-- feeds -->
            <div class="widget widget_feeds">
                <div class="content">
                    <div id="subscribe">
                        <a rel="external nofollow" id="feedrss" title="订阅这个博客的文章"
                           href="http://rainbo.me/?feed=rss2">订阅</a>
                        <ul id="feed_readers">
                            <li id="google_reader"><a rel="external nofollow" class="reader" title="订阅到 Google"
                                                      href="http://fusion.google.com/add?feedurl=http://rainbo.me/?feed=rss2"><span> Google</span></a>
                            </li>
                            <li id="youdao_reader"><a rel="external nofollow" class="reader" title="订阅到有道"
                                                      href="http://reader.youdao.com/#url=http://rainbo.me/?feed=rss2"><span>有道</span></a>
                            </li>
                            <li id="xianguo_reader"><a rel="external nofollow" class="reader" title="订阅到鲜果"
                                                       href="http://www.xianguo.com/subscribe.php?url=http://rainbo.me/?feed=rss2"><span>鲜果</span></a>
                            </li>
                            <li id="zhuaxia_reader"><a rel="external nofollow" class="reader" title="订阅到抓虾"
                                                       href="http://www.zhuaxia.com/add_channel.php?url=http://rainbo.me/?feed=rss2"><span>抓虾</span></a>
                            </li>
                            <li id="yahoo_reader"><a rel="external nofollow" class="reader" title="订阅到 My Yahoo!"
                                                     href="http://add.my.yahoo.com/rss?url=http://rainbo.me/?feed=rss2"><span> My Yahoo!</span></a>
                            </li>
                            <li id="newsgator_reader"><a rel="external nofollow" class="reader" title="订阅到 newsgator"
                                                         href="http://www.newsgator.com/ngs/subscriber/subfext.aspx?url=http://rainbo.me/?feed=rss2"><span> newsgator</span></a>
                            </li>
                            <li id="bloglines_reader"><a rel="external nofollow" class="reader" title="订阅到 Bloglines"
                                                         href="http://www.bloglines.com/sub/http://rainbo.me/?feed=rss2"><span> Bloglines</span></a>
                            </li>
                            <li id="inezha_reader"><a rel="external nofollow" class="reader" title="订阅到哪吒"
                                                      href="http://inezha.com/add?url=http://rainbo.me/?feed=rss2"><span>哪吒</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="fixed"></div>
                </div>
            </div>

            <!-- showcase -->


            <!-- posts -->
            <div class="widget">
                <h3>Recent Posts</h3>
                <ul>
                    {% for v in Q.recentPosts() %}
                    <li><a href="{{v.url}}">{{v.title}}</a></li>
                    {% end %}
                </ul>
            </div>
            <!-- recent comments -->
            <!-- tag cloud -->
            <div class="widget">
                <h3>Tags</h3>
                {% for v in Q.tagsList() %}
                <a title="{{v.name}}" href="/tag/{{ url_escape( v.name ) }}/">{{v.name}}</a> <span class="tag_meta">({{v.count}})</span>
                {% end %}
            </div>

            <div class="widget">
                <h3>Category</h3>
                {% for v in Q.categoryList() %}
                <a title="{{v.name}}" href="/tag/{{ url_escape( v.name ) }}/">{{v.name}}</a> <span class="tag_meta">({{v.count}})</span>
                {% end %}
            </div>

        </div>
        <!-- sidebar north END -->
        <div id="centersidebar">
            <!-- sidebar east START -->
            <div id="eastsidebar" class="sidebar">
                <!-- categories -->
                <div class="widget widget_categories">
                    <h3>Category</h3>
                    <ul>
                        <li class="categories">分类目录
                            <ul>
                                {% for v in Q.categoryList() %}
                                <li><a title="{{v.name}}" href="/category/{{ url_escape( v.name ) }}/">{{v.name}} <span class="tag_meta">({{v.count}})</span></a> </li>
                                {% end %}
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- sidebar east END -->

            <!-- sidebar west START -->
            <div id="westsidebar" class="sidebar">

                <!-- blogroll -->
                <div class="widget widget_links">
                    <h3>Blogroll</h3>
                    <ul>
                        <li><a href="http://qcoreblog.sinaapp.com/">Qcore Blog</a></li>
                    </ul>
                </div>

            </div>
            <!-- sidebar west END -->
            <div class="fixed"></div>
        </div>

        <!-- sidebar south START -->
        <div id="southsidebar" class="sidebar">

            <!-- meta -->
            <div class="widget">
                <h3>Meta</h3>
                <ul>
                    <li><a href="/login">登录</a></li>
                </ul>
            </div>

            <div class="widget">
                <a id="saelogo" href="http://sae.sina.com.cn" target="_blank"><img
                        src="http://static.sae.sina.com.cn/image/poweredby/poweredby.png"
                        title="Powered by Sina App Engine"/></a>
            </div>
        </div>
        <!-- sidebar south END -->
    </div>
    <!-- sidebar END -->
    <div class="fixed"></div>
</div>
<!-- content END -->

<!-- footer START -->
<div id="footer">
    <a id="gotop" href="#" onclick="MGJS.goTop();return false;">回到顶部</a>
    <a id="powered" href="http://wordpress.org/">WordPress</a>
    <div id="copyright">
        版权所有 &copy; 2012 Qcore Blog
    </div>
    <div id="themeinfo">
        主题由 <a href="http://www.neoease.com/">NeoEase</a> 提供, 通过 <a href="http://validator.w3.org/check?uri=referer">XHTML
        1.1</a> 和 <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">CSS 3</a> 验证.
    </div>
</div>
<!-- footer END -->
</div>
<!-- container END -->
</div>
<!-- wrap END -->
</body>
</html>

