{% extends "base.html" %}

{% block content %}
<div id="main">
    {% for post in list %}
    <div class="post" id="post-12">
        <h2><a class="title" href="/{{ post.type }}/{{ url_escape( post.slug ) }}" rel="bookmark">{{ post.title }}</a></h2>

        <div class="info">
            <span class="date"><time datetime="{{ Q.date('%Y-%m-%d %H:%M' , post.created ) }}" pubdate>{{ Q.date('%Y-%m-%d %H:%M' , post.created ) }}</time></span>
            <!--
            <span class="author"><a href="http://rainbo.me/?author=1" title="由 rainbo 发表">rainbo</a></span>
            <span class="comments"><a href="http://rainbo.me/?p=12#respond" title="fdsf 上的评论">没有评论</a></span>
            -->
            <div class="fixed"></div>
        </div>
        <div class="content">
            <p>{{ post.text }}</p>

            <div class="fixed"></div>
        </div>
        <!--
        <div class="under">
            <span class="categories">分类: </span><span><a href="http://rainbo.me/?cat=1" title="查看 未分类 的全部文章" rel="category">未分类</a></span>
            <span class="tags">标签: </span><span></span>
        </div>
        -->
    </div>
    {% end %}

    <div id="pagenavi">
        {% if pagination['current'] != pagination['next'] and pagination['count'] > 1 %}
        <span class="older"><a class="prev" href="?page={{pagination['next']}}{{urlargs}}">&larr; Older</a></span>
        {% end %}
        {% if pagination['current'] != pagination['prev'] and pagination['count'] > 1 %}
        <span class="newer"><a class="next" href="?page={{pagination['prev']}}{{urlargs}}">Newer &rarr;</a></span>
        {% end %}
        <div class="fixed"></div>
    </div>
</div>
{% end %}