{% extends "base.html" %}

{% block title %} {{ options['site']['title'] }}{% end %}

{% block content %}
<div id="main">

    <div id="postpath">
        <a title="转到首页" href="http://rainbo.me/">首页</a> &gt;
        <a href="/category/{{ url_escape( Q.getPostCategoryById( post.id )['name'] ) }}/">{{ Q.getPostCategoryById( post.id )['name'] }}</a> &gt;
        {{ post.title }}
    </div>

    <div class="post" id="post-12">
        <h2>{{ post.title }}</h2>

        <div class="info">
            <span class="date"><time datetime="{{ Q.date('%Y-%m-%d %H:%M' , post.created ) }}" pubdate>{{Q.date('%Y-%m-%d %H:%M' , post.created ) }}</time></span>
            <span class="author"><a href="#" title="由 {{ Q.getNicknameById( post.user_id ) }} 发表">{{ Q.getNicknameById(post.user_id ) }}</a></span> <span class="addcomment"><a href="#respond">发表评论</a></span>
            <div class="fixed"></div>
        </div>
        <div class="content">
            {{ post.text }}
            <div class="fixed"></div>
        </div>
        <div class="under">
            <span class="categories">分类: </span>
            <span><a href="/category/{{ url_escape( Q.getPostCategoryById( post.id )['name'] ) }}/">{{ Q.getPostCategoryById( post.id )['name'] }}</a></span>
            <span class="tags">标签: </span>
            <span>
                {% for v in Q.getContentTagsById( post.id ) %}
                <a href="/tag/{{ url_escape(v.name) }}/" class="category">{{ v.name }}</a>
                {% end %}
            </span>
        </div>

        {% if siteComment.has_key('disqus_shortname')%}
        <div id="comments">

            <div id="disqus_thread">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    (function() {
                        var disqus_shortname = '{{siteComment['disqus_shortname']}}';
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </div>
        </div>
        {% end %}
    </div>
</div>
{% end %}
